/* {CARD} */
.containers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  align-items: center;
  padding: 50px 50px;
  border-radius: 50px;
  background: #ffaf69;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.author {
  padding-top: 10px;
  color: #545454;
  padding-bottom: 10px;
  font-size: 20px;
}

.dateAndTime {
  padding-bottom: 10px;
  color: #7c7c7c;
  padding-bottom: 20px;
}

.description {
  color: #000000;
  font-size: 20px;
  font-style: italic;
  line-height: 1.5;
  font-weight: 500px;
  width: 100%;
}

.cardimg {
  width: 150px;
  height: 150px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: cover;
  border-radius: 3000px;
  overflow: hidden;
}
