.author {
  padding-bottom: 9px;
  color: #6b6b6b;
  font-size: 30px;
}

.dateAndTime {
  color: #6b6b6b;
  padding-bottom: 20px;
}

.blogHeader {
  font-size: 36px;
}

.description {
  color: #0432ff;
  font-size: 25px;
  font-style: italic;
  line-height: 1.5;
}

.containercardimg {
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}
.cardimg {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 30px;
  overflow: hidden;
  align-items: center;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardcontent {
  margin-top: 30px;
  width: 400px;
  height: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}
