@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,200&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

.container {
  position: relative;
  background: linear-gradient(198deg, #ecd6fb 18.34%, #e2e5fd 30.39%, #d3f5ff 49.04%, #d8eefc 66.38%, #dfe6f9 87.2%);
}

.buttonforCreated {
  width: 200px;
  height: 80px;
  border-radius: 50px;
  border: 1px solid rgba(8, 8, 8, 0);
  background: linear-gradient(180deg, rgb(255, 89, 0) 0%, #ffa800 100%);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
  color: #2d2d2d;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  line-height: 75px; /* 120% */
  font-family: 'Kanit';
}
.buttonforCreated:hover {
  width: 200px;
  height: 80px;
  border-radius: 50px;
  border: 1px solid rgba(8, 8, 8, 0);
  background: linear-gradient(180deg, rgb(255, 89, 0) 0%, #ffa800 100%);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25) inset;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  line-height: 75px; /* 120% */
  font-family: 'Kanit';
}

.formcontainer {
  position: absolute;
  top: 340px; /* จัดตำแหน่งของ form ให้อยู่ที่กลางด้านบนของภาพ */
  left: 484px; /* จัดตำแหน่งของ form ให้อยู่ที่กลางด้านซ้ายของภาพ */
}
