.container {
  display: flex;
  padding: 100px 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: linear-gradient(27deg, rgba(185, 255, 226, 0.8) 19.04%, rgba(249, 124, 89, 0) 48.22%),
    linear-gradient(57deg, #83ebfd 30.89%, rgba(185, 91, 229, 0) 69.76%),
    linear-gradient(301deg, rgba(255, 216, 171, 0.91) 23.42%, rgba(252, 178, 91, 0) 63.39%),
    linear-gradient(142deg, rgba(135, 207, 255, 0.85) 16.95%, rgba(78, 173, 235, 0) 96.59%), #d3e4ff;
  padding-left: 200px;
  padding-right: 200px;
  color: #ff7112;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  font-family: 'Kanit';
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
}
