@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,200&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

.container {
  position: relative;
  background: linear-gradient(
    198deg,
    #ecd6fb 18.34%,
    #e2e5fd 30.39%,
    #d3f5ff 49.04%,
    #d8eefc 66.38%,
    #f8f4eb 87.2%,
    #f8f4eb 100.2%
  );
  align-items: center;
  width: 100%;
  padding: 50px 300px;
}

.containertitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.formcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.description {
  color: #343434;
  font-size: 20px;
  font-weight: 300;
  justify-content: space-between;
  gap: 50px;
}

.containersocial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.containerso {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
