@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,200&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

.container {
  background-image: url(../assets/icons/home/bgfooter.svg);
  align-items: center;
  width: 100%;
  height: 100%;
}

.formcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
  height: 500px;
  margin: auto;
}

.containertitle {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}
.title {
  color: #343434;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 37.5px; /* 75% */
  letter-spacing: -0.5px;
}
.description {
  color: #343434;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 37.5px; /* 75% */
  letter-spacing: -0.5px;
  margin-bottom: 40px;
}

.containersocial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
