.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 100px;
  padding-left: 60px;
  padding-right: 60px;
  gap: 20px;
  background-color: #1449ea15;
}

.blogContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
  height: 500px;
  margin: auto;
}

.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #343434;
  font-size: 50px;
  font-weight: 400;
  line-height: 37.5px; /* 75% */
  letter-spacing: -0.5px;
}

.sectionTitle {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 28px;
  font-weight: 100;
}

.viewAll {
  color: rgba(222, 57, 20, 0.878);
  font-size: 20px;

  font-weight: 100;
  line-height: 37.5px; /* 75% */
}
