/* {CARD} */
.containers {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  padding: 50px 50px;
  border-radius: 50px;
  background: #ffaf69;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.author {
  padding-top: 10px;
  color: #545454;
  padding-bottom: 10px;
  font-size: 20px;
}

.dateAndTime {
  padding-bottom: 10px;
  color: #7c7c7c;
  padding-bottom: 20px;
}

.description {
  color: #000000;
  font-size: 20px;
  font-style: italic;
  line-height: 1.5;
  width: 100%;
}

.cardimg {
  font-weight: 500px;
  width: 100%;
  align-items: center;
}

.cardimg {
  align-items: center;
  width: 150px;
  height: 150px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: cover;
  border-radius: 3000px;
  overflow: hidden;
  margin-bottom: 20px;
}

.cardcontent {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .containers {
    width: 100%;
  }
}

.swiper-container {
  width: 480px;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}
