.container {
  display: flex;
  flex-direction: column;
  margin: 200px 100px;
  padding: 150px 80px;
  border-radius: 60px;
  background: rgba(255, 255, 255, 0.38);
}

.blogContainer {
  width: 100%;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  gap: 38px;
}

.sectionTitle {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 38px;
  color: rgba(229, 113, 19, 0.878);
  font-weight: 400;
}

.viewAll {
  color: #b90101;
  font-size: 20px;
}

.box {
  background: linear-gradient(27deg, rgba(255, 226, 167, 0.8) 19.04%, rgba(249, 124, 89, 0) 48.22%),
    linear-gradient(57deg, #83ebfd 30.89%, rgba(185, 91, 229, 0) 69.76%),
    linear-gradient(301deg, rgba(252, 178, 91, 0.91) 23.42%, rgba(252, 178, 91, 0) 63.39%),
    linear-gradient(142deg, rgba(78, 173, 235, 0.85) 16.95%, rgba(78, 173, 235, 0) 96.59%), #d3e4ff;
  padding: 20px 20px;
}
