@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 7.5vw;
}
