.Bodyboard {
  display: flex;
  gap: 10%;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.board {
  display: flex;
  gap: 10%;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.boardtext {
  display: flex;
  gap: 10%;
  width: 300px;
  flex-direction: column;
  align-items: center;
}

.selected {
  transition: fill 1s;
  stroke-width: 2px;
}

.selected:hover {
  transition: fill 1s;
  fill: rgb(255, 255, 255);
  stroke-width: 3px;
}

.Created {
  padding: 20px;
  width: 100%;
  height: auto;
  border-radius: 30px;
  border: 1px solid rgba(8, 8, 8, 0);
  background: rgb(255, 152, 93);
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 20%;
}

.buttonforCreated {
  width: 100%;
  height: 78px;
  border-radius: 40px;
  border: 1px solid rgba(8, 8, 8, 0);
  background: rgba(255, 92, 0, 1);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20%;
}
.buttonforCreated:hover {
  width: 100%;
  height: 78px;
  border-radius: 40px;
  border: 1px solid rgba(8, 8, 8, 0);
  background: rgba(255, 92, 0, 1);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25) inset;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.buttonforskip {
  width: 100%;
  height: 78px;
  border-radius: 40px;
  border: 1px solid rgba(8, 8, 8, 0);
  background: rgba(160, 215, 255, 0.94);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}
.buttonforskip:hover {
  width: 100%;
  height: 78px;
  border-radius: 40px;
  border: 1px solid rgba(77, 77, 77, 0);
  background: rgba(160, 215, 255, 0.94);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25) inset;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

/* @media screen {
}

.Bodyboard {
  display: flex;
  gap: 10%;
  width: 100%;
  flex-direction: column;
  align-items: center;
} */
